Repository HYF-Class21/agile-development-group1-hyf-redesign, pull requests merged in 2023-04, with the labels that each got.

#13 readme.md updated
  planning/images/Screenshot-1.png
  planning/images/Screenshot-2.png
  planning/images/Screenshot-3.png
Labels: MD

#11 User personas
  planning/user-personas.md
Labels: MD

#15 readme file updated
  README.md
Labels: MD

#19 Header
  index.html
  public/img/background.png
  public/img/logo.png
  styles/index.css
Labels: html, css

#20 add development-strategy.md
  planning/development-strategy.md
Labels: MD

#23 update our impact part
  index.html
  styles/index.css
Labels: html, css

#26 Update README.md
  README.md
Labels: MD

#24 Our program merge
  index.html
  public/img/our-program.png
  styles/index.css
Labels: bug, html, css

#22 update our program part
  index.html
  public/img/our-program.png
  styles/index.css
Labels: html, css

#29 updating first section in home page
  .cspell.json
  index.html
  styles/backroundimg/image.png
  styles/index.css
Labels: html, css

#35 adding retrospective to planning
  planning/retrospective.md
Labels: MD

#37 adding donation box form
  index.html
  styles/index.css
Labels: html, css

#34 adding contact us form
  index.html
  public/img/form.png
  styles/index.css
Labels: html, css

#65 adding first section of digitalents page
  index.html
  pages/digitalents.html
  styles/digitalents.css
Labels: html, css

#71 update Development strategy
  planning/backlog.md
  planning/development-strategy.md
Labels: MD

#72 update backlog
  planning/backlog.md
  planning/development-strategy.md
  styles/index.css
Labels: MD

#76 Support us
  pages/support-us.html
  planning/backlog.md
  public/img/support-us.jpg
  public/img/support1.svg
  public/img/support2.svg
  public/img/support3.svg
  public/img/support4.svg
  styles/index.css
Labels: html, css

#83 fixing first section of home page
  index.html
  planning/backlog.md
  styles/index.css
Labels: css

#85 Fix detail
  -
  As
  index.html
  pages/support-us.html
  styles/index.css
Labels: html, css
